{% extends 'base.html.twig' %}

{% block title %}Puissance 4²{% endblock %}

{% block body %}
    {#    {% if is_granted('ROLE_USER') %}#}
    {#    <h1>{{ user.username }}</h1>#}
    {#    {% endif %}#}
    <main class="column">
        <div class="none">
            {{ include('components/_clip_user.html.twig') }}
            {{ include('components/_clip_ia.html.twig') }}
        </div>
        <div class="frame shadow frame-home"><span class="trans-text">Aaron's matches prediction</span></div>

        {% if not is_granted('ROLE_USER') %}
        <a href="{{ path('app_login_or_register') }}" class="a-none">
            <div class="frame shadow frame-home">

                <span class="trans-text">
                    Connect or Register
                </span>

            </div>
        </a>
        {% endif %}

        <a href="#" class="a-none">
            <div class="frame shadow frame-home">
                <span class="trans-text">
                    View next matches
                </span>
            </div>
        </a>

        <a href="{{ path('app_game') }}" class="a-none">
            <div class="frame shadow frame-home">
                <span class="trans-text">
                    View last matches
                </span>
            </div>
        </a>

        <a href="{{ path('app_team') }}" class="a-none">
        <div class="frame shadow frame-home">
{#            <span class="trans-svg ia r-spaced"></span>#}
            <span class="trans-text">
            Equipes
            </span>
{#            <span class="trans-svg ia spaced"></span>#}
        </div>
        </a>

{#        IT WORKS !!!!#}

{#        <a class="a-none">#}
{#        <div class="frame shadow frame-home"#}
{#             style="--gradient-shadow: radial-gradient(circle, rgba(255, 0, 255) 0%, rgba(0, 0, 0) 50%, rgba(255,0, 255,1) 100%);"#}
{#        ><span class="trans-text">Hall Of Fame</span></div>#}

{#        </a>#}

    </main>
{% endblock %}
